<h1>Users</h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<table>
  <thead>
    <tr>
      <th>Avator</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%#TODO: enable to upload avator %>
        <td><%# user.avator %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
