<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.avatar.url if user.avatar.url %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Detail", user_path(user) %></td>
        <td><%= render "follow_form", user: user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
