<h1><%= @user.name %></h1>
<%# @user.avator %>
<%= render "follow_form", user: @user.id %>

<h2>Followings</h2>
<% @user_followings.each do |following| %>
  <%= User.find(following).name %>
  <%= render "follow_form", user: following %>
<% end %>

<h2>Followers</h2>
<% @user_followers.each do |follower| %>
  <%= User.find(follower).name %>
  <%= render "follow_form", user: follower %>
<% end %>

<h2>Activities</h2>
<%= render "activities/summary",  user: @user %>
<%= render "activities/activity", user: @user %>
