<p id="notice"><%= notice %></p>

<% @categories.each do |category| %>

  <%= form_with(url: lessons_path, local: true) do |form| %>
    <%= form.hidden_field :category_id, value: category.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
      <%= form.submit "Start Lesson in " + category.title %>
    </div>
  <% end %>
<% end %>

<h1>Past Lessons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to 'Show', lesson %></td>
      </tr>
    <% end %>
  </tbody>
</table>
