<p id="notice"><%= notice %></p>

<% @categories.each do |category| %>
  <% unless current_user.finished_lesson?(user_id: current_user.id, category_id: category.id) %>
    <%= form_with(url: lessons_path, local: true) do |form| %>
      <%= form.hidden_field :category_id, value: category.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="actions">
        <%= form.submit "Start Lesson in " + category.title %>
      </div>
    <% end %>
  <% end %>
<% end %>
<%= paginate @categories %>

<h1>Past Lessons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td>
          <%= link_to Category.find(lesson.category_id).title, lesson %> 
          (<%= current_user.finished_lesson?(user_id: current_user.id, category_id: lesson.category_id)? "Finished" : "Not Finished" %>)
        </td>
        <td>
          Correct: <%= WordAnswer.eager_load(lesson: { category: :words })
              .where("words.answer = word_answers.answer and lessons.id = #{lesson.id}").count %>
          / <%= WordAnswer.eager_load(lesson: { category: :words }).where("lessons.id = #{lesson.id}").count %>
          <%#TODO?: scope使うかどうしようか %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
