<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @word.id %>
</p>

<p>
  <strong>Option 1:</strong>
  <%= @word.option_1 %>
</p>

<p>
  <strong>Option 2:</strong>
  <%= @word.option_2 %>
</p>

<p>
  <strong>Option 3:</strong>
  <%= @word.option_3 %>
</p>

<p>
  <strong>Option 4:</strong>
  <%= @word.option_4 %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @word.answer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @word.category_id %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
