<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Back', categories_path %>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Option 1</th>
      <th>Option 2</th>
      <th>Option 3</th>
      <th>Option 4</th>
    </tr>
  </thead>
  <tbody>
    <% @category.words.each do |word| %>
    <tr>
      <td><%= word.question %></td>
      <td><%= word.option_1 %></td>
      <td><%= word.option_2 %></td>
      <td><%= word.option_3 %></td>
      <td><%= word.option_3 %></td>
    </tr>
    <% end %>
  </tbody>
</table>
