<p>Learned Words: 
    <%= WordAnswer.eager_load(lesson: { category: :words })
        .where("words.answer = word_answers.answer and word_answers.user_id = #{user.id}").count %>
</p>
<p>Learned Lessons: 
    <%= WordAnswer.eager_load(lesson: { category: :words })
        .where("words.answer = word_answers.answer and word_answers.user_id = #{user.id}").count %>
</p>
  
<% user.activities.each do |activity| %>
  <% if activity.lesson_id.present? %>
    <p>
      <%= user.name %> has done the lesson 
      <%= link_to Lesson.find(activity.lesson_id).category.title, Lesson.find(activity.lesson_id) %> 
      at <%= activity.created_at %> (Correct: 
      <%= WordAnswer.eager_load(lesson: { category: :words })
            .where("words.answer = word_answers.answer and lessons.id = #{activity.lesson_id}").count %>
      / <%= WordAnswer.eager_load(lesson: { category: :words }).where("lessons.id = #{activity.lesson_id}").count %>)
    </p>
  <% elsif activity.following_id.present? %>
    <p>
      <%= user.name %> followed 
      <b>
        <%= link_to User.find(activity.following_id).name, user_path(activity.following_id) %>
      </b> 
      at <%= activity.created_at %>
    </p>
  <% end %>
<% end %>
