<!DOCTYPE html>
<html>
  <head>
    <title>ELearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <% end %>
    <%= link_to "Words", words_path %>
    <%= link_to "Categories", categories_path %>
    <%= link_to "Lessons", lessons_path %>

    <%= yield %>
  </body>
</html>
