<!DOCTYPE html>
<html>
  <head>
    <title>ELearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="pt-2 pb-2 pr-5 pl-5">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

        <% if current_user.admin? %>
          <%= link_to "Admin Top", admin_root_path %>
          <%= link_to "Words", admin_words_path %>
          <%= link_to "Categories", admin_categories_path %>
          <%= link_to "Users", admin_users_path %>
        <% else %>
          <%= link_to "Top", root_path %>
          <%= link_to "Lessons", lessons_path %>
          <%= link_to "Categories", categories_path %>
          <%= link_to "Users", users_path %>
          <% end %>
        <%= link_to "Settings", "/users/edit" %>

      <% else %>
        <%= link_to "Sign In", new_user_session_path, method: :post %>
      <% end %>
    </header>
    <div class="container mb-5 mt-2">
      <%= yield %>
    </div>
  </body>
</html>
